<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>摄影旅行线路首选行行摄色网,精心为您策划亚洲、非洲、大洋洲、美洲、欧洲等最专业的旅游摄影线路,给您带来一个愉快的摄影创作之旅-行行摄色,国外摄影,摄影团，旅游摄影</title>
    <link rel="icon" href="../imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/goPhotograph.css">
    <script src="../js/jquery-3.1.0.min.js"></script>
</head>
<body>
<header>
    <div class="topBox w1200">
        <div class="topLeft">
            <div class="logoBox">
                <a href="#">
                    <img src="http://www.ixxss.net/res/img/logo.png" alt="">
                </a>
            </div>
        </div>
        <div class="topRight">
            <div class="topTitle">
                <b>服务电话：40066-51731</b>
                <span id="LandingAndEnroll">
                    <a style="margin-left: 20px; text-decoration: none" href="#">登录</a>
                    <a style="text-decoration: none" href="#">注册</a>
                </span>
            </div>
            <ul>
                <li><a href="#" target="_blank">去摄影</a></li>
                <li><a href="#" target="_blank">找老师</a></li>
                <li><a href="#" target="_blank">看花絮</a></li>
                <li><a href="#" target="_blank" style="color:#ff8a00;font-weight:bold;">行摄学院</a></li>
                <li><a href="#" target="_blank">行摄摄友会</a></li>
                <li><a href="#" target="_blank">关于我们</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="gophoto-content">
    <div class="gophoto-content-nav">
        <a href="#">首页</a>
        &nbsp;&nbsp;&gt;&nbsp;&nbsp;
        <a href="#">图片集</a>
        &gt;&nbsp;&nbsp;
        <a href="#">亚洲</a>
        <a href="#">伊朗</a>
    </div>
<div class="gophoto-content-choose">
<div class="gophoto-content-choose-one">
    <div class="gophoto-content-choose-one-type">
        <dt>目的地：</dt>
        <p class="mdd">
            <a style="background-color:#ff8a00;color: white " href="#">全部</a>
            <a href="http://www.ixxss.net/lines/yazhou/">亚洲</a>
            <a href="http://www.ixxss.net/lines/beimeizhou/">美洲</a>
            <a href="http://www.ixxss.net/lines/ouzhou/">欧洲</a>
            <a href="http://www.ixxss.net/lines/feizhou/">非洲</a>
            <a href="http://www.ixxss.net/lines/dayangzhou/">大洋洲</a>
            <a href="http://www.ixxss.net/lines/nanjizhou/">南极</a>
        </p>
</div>
    <div class="gophoto-content-choose-one-type">
        <dt>行摄主题：</dt>
        <p class="mdd">
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-169-1" >人文</a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-179-1">风光</a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-180-1">动物</a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-181-1">节日</a>
        </p>
    </div>
    <div class="gophoto-content-choose-one-type">
        <dt>带队老师：</dt>
        <p class="mdd">
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-188-1">海浪</a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-190-1">海兔</a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-191-1">海狮</a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-200-1">海潮</a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-204-1">海宬</a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-240-1">蔡焕松</a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-241-1">王福春</a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-248-1">海子</a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-255-1">曹红</a>
        </p>
    </div>
    <div class="gophoto-content-choose-one-type">
        <dt>出团日期：</dt>
        <p class="mdd">
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-232-1"> 10月 </a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-232-1"> 11月 </a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-234-1"> 12月 </a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-235-1"> 2017年2月</a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-236-1"> 2017年3月 </a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-237-1"> 2017年4月</a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-238-1"> 2017年7月</a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-252-1"> 2017年8月</a>
        </p>
    </div>
    <div class="gophoto-content-choose-one-type">
        <dt>行程特色：</dt>
        <p class="mdd">
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-246-1">常规团</a>
            <a href="http://www.ixxss.net/lines/all-0-0-0-0-0-247-1">名家团</a>
        </p>
    </div>
    <div class="gophoto-content-choose-one-type" >
        <dt>价格区间：</dt>
        <p class="mdd">
            <a href="http://www.ixxss.net/lines/all-0-2-0-0-0-0-1">0元-10000元</a>
            <a href="http://www.ixxss.net/lines/all-0-3-0-0-0-0-1">10000元-19999元</a>
            <a href="http://www.ixxss.net/lines/all-0-20-0-0-0-0-1">20000元-29999元</a>
            <a href="http://www.ixxss.net/lines/all-0-22-0-0-0-0-1">30000元-39999元</a>
            <a href="http://www.ixxss.net/lines/all-0-47-0-0-0-0-1">39999元-150000元</a>
        </p>
    </div>
</div>
    <div class="gophoto-content-choose-img">
    <img src="http://www.ixxss.net/uploads/2016/0616/3f1cb25fdcce8f11a0228b23bee5c326.jpg" width="350px" style="display: block ; ">
        <a id="nan">2017.2.24-3.20【南极三岛】摄</a>
        <span>
            <a target="_blank" href="http://www.ixxss.net/lines/show_170.html" style="text-decoration: none">开启你的摄影之旅</a>
        </span>
    </div>
</div>
<div class="gophoto-content-pic">
   <div class="gophoto-content-pic-one">
       <ul>
           <li style="list-style-type: none">
               <div class="pic-one">
                   <a href="http://www.ixxss.net/lines/show_186.html">
                       <img src="http://www.ixxss.net/uploads/2016/0715/fdbafc0a2a7f69cf06a065ac7c244a11.jpg" alt="2016.10.21-11.6【纳米比亚+津巴布韦】" width="580" height="386">
                   </a>
               </div>
               <div class="pic-one-nav">
                       <span class="pic-one-name">
                       <a href="http://www.ixxss.net/lines/show_186.html" >2016.10.21-11.6【纳米比亚+津巴...</a>
                   </span>
<!--时间-->
                   <span class="pic-one-time">离出团仅剩：
                       <h4 id="pic-one-time-day1">
                       <script type="text/javascript">
        var now = new Date();
        function GetServerTime()
        {
            var urodz = new Date("10/21/2016 00:00:00");//设定倒计时的时间
            now.setTime(now.getTime()+250);
            days = (urodz - now) / 1000 / 60 / 60 / 24;
            daysRound = Math.floor(days);
            hours = (urodz - now) / 1000 / 60 / 60 - (24 * daysRound);
            hoursRound = Math.floor(hours);
            minutes = (urodz - now) / 1000 /60 - (24 * 60 * daysRound) - (60 * hoursRound);
            minutesRound = Math.floor(minutes);
            seconds = (urodz - now) / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
            secondsRound = Math.round(seconds);
            var obj = document.getElementById("pic-one-time-day1");
            daysRound = daysRound;
            if(daysRound >= 0) {
                obj.innerHTML="<p style='font-size:18px;font-weight:normal;width: 50px;margin: 0;'> <span  style='font-size:18px;color:#fff;'>"+daysRound+"</span> 天</p>" ;
                //obj.innerHTML="<p>距开幕式<span>"+daysRound+"</span>天<span>"+hoursRound+"</span>时<span>"+minutesRound+"</span>分<span>"+secondsRound+"</span>秒</p>" ;
            }
        }
        setInterval("GetServerTime()",1000);
        //$(function() {
        GetServerTime()
        //});
    </script></h4>
                   </span>
               </div>
               <div class="pic-one-nav-liji"></div>
               <a href="http://www.ixxss.net/lines/show_186.html" style="text-decoration: none" id="pic-one-nav-liji-0">立即预订</a>
                   <span id="pic-one-nav-price">
                       <b>
                           <i class="currency_sy">￥</i>
                           485555
                       </b>
                       起
                   </span>
           </li>
           <li style="list-style-type: none">
               <div class="pic-one">
                   <a href="http://www.ixxss.net/lines/show_186.html">
                       <img src="http://www.ixxss.net/uploads/2016/0428/6c585f7ee50307457b3e31c8bb791406.jpg" alt="2016.10.21-11.6【纳米比亚+津巴布韦】" width="580" height="386">
                   </a>
               </div>
               <div class="pic-one-nav">
                       <span class="pic-one-name">
                       <a href="http://www.ixxss.net/lines/show_186.html" >2016.10.25-11.1【尼泊尔】</a>
                   </span>
                   <span class="pic-one-time">离出团仅剩：
                   <h4 id="pic-one-time-day2">
                       <script type="text/javascript">
        var now = new Date();
        function GetServerTime()
        {
            var urodz = new Date("10/25/2016 00:00:00");//设定倒计时的时间
            now.setTime(now.getTime()+250);
            days = (urodz - now) / 1000 / 60 / 60 / 24;
            daysRound = Math.floor(days);
            hours = (urodz - now) / 1000 / 60 / 60 - (24 * daysRound);
            hoursRound = Math.floor(hours);
            minutes = (urodz - now) / 1000 /60 - (24 * 60 * daysRound) - (60 * hoursRound);
            minutesRound = Math.floor(minutes);
            seconds = (urodz - now) / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
            secondsRound = Math.round(seconds);
            var obj = document.getElementById("pic-one-time-day2");
            daysRound = daysRound;
            if(daysRound >= 0) {
                obj.innerHTML="<p style='font-size:18px;font-weight:normal;width: 50px;margin: 0;'> <span  style='font-size:18px;color:#fff;'>"+daysRound+"</span> 天</p>" ;
                //obj.innerHTML="<p>距开幕式<span>"+daysRound+"</span>天<span>"+hoursRound+"</span>时<span>"+minutesRound+"</span>分<span>"+secondsRound+"</span>秒</p>" ;
            }
        }
        setInterval("GetServerTime()",1000);
        //$(function() {
        GetServerTime()
        //});
    </script></h4>
                   </span>
               </div>
               <div class="pic-one-nav-liji"></div>
               <a href="http://www.ixxss.net/lines/show_186.html" style="text-decoration: none" id="pic-one-nav-liji-0">立即预订</a>
                   <span id="pic-one-nav-price">
                       <b>
                           <i class="currency_sy">￥</i>
                           485555
                       </b>
                       起
                   </span>
           </li>
           <li style="list-style-type: none">
               <div class="pic-one">
                   <a href="http://www.ixxss.net/lines/show_186.html">
                       <img src="http://www.ixxss.net/uploads/2016/0418/d7e32ff49e8158ffaeaaf35ce56bcf73.jpg" alt="2016.10.21-11.6【纳米比亚+津巴布韦】" width="580" height="386">
                   </a>
               </div>
               <div class="pic-one-nav">
                       <span class="pic-one-name">
                       <a href="http://www.ixxss.net/lines/show_186.html" >2016.11.4-11.15【印度】</a>
                   </span>
                   <span class="pic-one-time">离出团仅剩：
                   <h4 id="pic-one-time-day3">
                       <script type="text/javascript">
        var now = new Date();
        function GetServerTime()
        {
            var urodz = new Date("11/4/2016 00:00:00");//设定倒计时的时间
            now.setTime(now.getTime()+250);
            days = (urodz - now) / 1000 / 60 / 60 / 24;
            daysRound = Math.floor(days);
            hours = (urodz - now) / 1000 / 60 / 60 - (24 * daysRound);
            hoursRound = Math.floor(hours);
            minutes = (urodz - now) / 1000 /60 - (24 * 60 * daysRound) - (60 * hoursRound);
            minutesRound = Math.floor(minutes);
            seconds = (urodz - now) / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
            secondsRound = Math.round(seconds);
            var obj = document.getElementById("pic-one-time-day3");
            daysRound = daysRound;
            if(daysRound >= 0) {
                obj.innerHTML="<p style='font-size:18px;font-weight:normal;width: 50px;margin: 0;'> <span  style='font-size:18px;color:#fff;'>"+daysRound+"</span> 天</p>" ;
                //obj.innerHTML="<p>距开幕式<span>"+daysRound+"</span>天<span>"+hoursRound+"</span>时<span>"+minutesRound+"</span>分<span>"+secondsRound+"</span>秒</p>" ;
            }
        }
        setInterval("GetServerTime()",1000);
        //$(function() {
        GetServerTime()
        //});
    </script></h4>
                   </span>
               </div>
               <div class="pic-one-nav-liji"></div>
               <a href="http://www.ixxss.net/lines/show_186.html" style="text-decoration: none" id="pic-one-nav-liji-0">立即预订</a>
                   <span id="pic-one-nav-price">
                       <b>
                           <i class="currency_sy">￥</i>
                           485555
                       </b>
                       起
                   </span>
           </li>
           <li style="list-style-type: none">
               <div class="pic-one">
                   <a href="http://www.ixxss.net/lines/show_186.html">
                       <img src="http://www.ixxss.net/uploads/2016/0824/086bab95de7f98ac844646d138778a1e.jpg" alt="2016.10.21-11.6【纳米比亚+津巴布韦】" width="580" height="386">
                   </a>
               </div>
               <div class="pic-one-nav">
                       <span class="pic-one-name">
                       <a href="http://www.ixxss.net/lines/show_186.html" >2016.11.9-11.23【古巴】</a>
                   </span>
                   <span class="pic-one-time">离出团仅剩：
                   <h4 id="pic-one-time-day4">
                       <script type="text/javascript">
        var now = new Date();
        function GetServerTime()
        {
            var urodz = new Date("11/9/2016 00:00:00");//设定倒计时的时间
            now.setTime(now.getTime()+250);
            days = (urodz - now) / 1000 / 60 / 60 / 24;
            daysRound = Math.floor(days);
            hours = (urodz - now) / 1000 / 60 / 60 - (24 * daysRound);
            hoursRound = Math.floor(hours);
            minutes = (urodz - now) / 1000 /60 - (24 * 60 * daysRound) - (60 * hoursRound);
            minutesRound = Math.floor(minutes);
            seconds = (urodz - now) / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
            secondsRound = Math.round(seconds);
            var obj = document.getElementById("pic-one-time-day4");
            daysRound = daysRound;
            if(daysRound >= 0) {
                obj.innerHTML="<p style='font-size:18px;font-weight:normal;width: 50px;margin: 0;'> <span  style='font-size:18px;color:#fff;'>"+daysRound+"</span> 天</p>" ;
                //obj.innerHTML="<p>距开幕式<span>"+daysRound+"</span>天<span>"+hoursRound+"</span>时<span>"+minutesRound+"</span>分<span>"+secondsRound+"</span>秒</p>" ;
            }
        }
        setInterval("GetServerTime()",1000);
        //$(function() {
        GetServerTime()
        //});
    </script></h4>
                   </span>
               </div>
               <div class="pic-one-nav-liji"></div>
               <a href="http://www.ixxss.net/lines/show_186.html" style="text-decoration: none" id="pic-one-nav-liji-0">立即预订</a>
                   <span id="pic-one-nav-price">
                       <b>
                           <i class="currency_sy">￥</i>
                           485555
                       </b>
                       起
                   </span>
           </li>
           <li style="list-style-type: none">
               <div class="pic-one">
                   <a href="http://www.ixxss.net/lines/show_186.html">
                       <img src="http://www.ixxss.net/uploads/main/litimg/20150611/20150611170814.jpg" alt="2016.10.21-11.6【纳米比亚+津巴布韦】" width="580" height="386">
                   </a>
               </div>
               <div class="pic-one-nav">
                       <span class="pic-one-name">
                       <a href="http://www.ixxss.net/lines/show_186.html" >2016.11.12-11.26【新西兰】</a>
                   </span>
                   <span class="pic-one-time">离出团仅剩：
                   <h4 id="pic-one-time-day5">
                       <script type="text/javascript">
        var now = new Date();
        function GetServerTime()
        {
            var urodz = new Date("11/12/2016 00:00:00");//设定倒计时的时间
            now.setTime(now.getTime()+250);
            days = (urodz - now) / 1000 / 60 / 60 / 24;
            daysRound = Math.floor(days);
            hours = (urodz - now) / 1000 / 60 / 60 - (24 * daysRound);
            hoursRound = Math.floor(hours);
            minutes = (urodz - now) / 1000 /60 - (24 * 60 * daysRound) - (60 * hoursRound);
            minutesRound = Math.floor(minutes);
            seconds = (urodz - now) / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
            secondsRound = Math.round(seconds);
            var obj = document.getElementById("pic-one-time-day5");
            daysRound = daysRound;
            if(daysRound >= 0) {
                obj.innerHTML="<p style='font-size:18px;font-weight:normal;width: 50px;margin: 0;'> <span  style='font-size:18px;color:#fff;'>"+daysRound+"</span> 天</p>" ;
                //obj.innerHTML="<p>距开幕式<span>"+daysRound+"</span>天<span>"+hoursRound+"</span>时<span>"+minutesRound+"</span>分<span>"+secondsRound+"</span>秒</p>" ;
            }
        }
        setInterval("GetServerTime()",1000);
        //$(function() {
        GetServerTime()
        //});
    </script></h4>
                   </span>
               </div>
               <div class="pic-one-nav-liji"></div>
               <a href="http://www.ixxss.net/lines/show_186.html" style="text-decoration: none" id="pic-one-nav-liji-0">立即预订</a>
                   <span id="pic-one-nav-price">
                       <b>
                           <i class="currency_sy">￥</i>
                           485555
                       </b>
                       起
                   </span>
           </li>
           <li style="list-style-type: none">
               <div class="pic-one">
                   <a href="http://www.ixxss.net/lines/show_186.html">
                       <img src="http://www.ixxss.net/uploads/2016/0518/2016072709255159.jpg" alt="2016.10.21-11.6【纳米比亚+津巴布韦】" width="580" height="386">
                   </a>
               </div>
               <div class="pic-one-nav">
                       <span class="pic-one-name">
                       <a href="http://www.ixxss.net/lines/show_186.html" >2016.11.18-12.2【摩洛哥突尼斯】</a>
                   </span>
                   <span class="pic-one-time">离出团仅剩：
                   <h4 id="pic-one-time-day6">
                       <script type="text/javascript">
        var now = new Date();
        function GetServerTime()
        {
            var urodz = new Date("11/18/2016 00:00:00");//设定倒计时的时间
            now.setTime(now.getTime()+250);
            days = (urodz - now) / 1000 / 60 / 60 / 24;
            daysRound = Math.floor(days);
            hours = (urodz - now) / 1000 / 60 / 60 - (24 * daysRound);
            hoursRound = Math.floor(hours);
            minutes = (urodz - now) / 1000 /60 - (24 * 60 * daysRound) - (60 * hoursRound);
            minutesRound = Math.floor(minutes);
            seconds = (urodz - now) / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
            secondsRound = Math.round(seconds);
            var obj = document.getElementById("pic-one-time-day6");
            daysRound = daysRound;
            if(daysRound >= 0) {
                obj.innerHTML="<p style='font-size:18px;font-weight:normal;width: 50px;margin: 0;'> <span  style='font-size:18px;color:#fff;'>"+daysRound+"</span> 天</p>" ;
                //obj.innerHTML="<p>距开幕式<span>"+daysRound+"</span>天<span>"+hoursRound+"</span>时<span>"+minutesRound+"</span>分<span>"+secondsRound+"</span>秒</p>" ;
            }
        }
        setInterval("GetServerTime()",1000);
        //$(function() {
        GetServerTime()
        //});
    </script></h4>
                   </span>
               </div>
               <div class="pic-one-nav-liji"></div>
               <a href="http://www.ixxss.net/lines/show_186.html" style="text-decoration: none" id="pic-one-nav-liji-0">立即预订</a>
                   <span id="pic-one-nav-price">
                       <b>
                           <i class="currency_sy">￥</i>
                           485555
                       </b>
                       起
                   </span>
           </li>
           <li style="list-style-type: none">
               <div class="pic-one">
                   <a href="http://www.ixxss.net/lines/show_186.html">
                       <img src="http://www.ixxss.net/uploads/2016/0602/39205e9249ff5c3735e78289bc0fdb04.png" alt="2016.10.21-11.6【纳米比亚+津巴布韦】" width="580" height="386">
                   </a>
               </div>
               <div class="pic-one-nav">
                       <span class="pic-one-name">
                       <a href="http://www.ixxss.net/lines/show_186.html" >2016.11.20-11.30【加拿大】</a>
                   </span>
                   <span class="pic-one-time">离出团仅剩：
                   <h4 id="pic-one-time-day7">
                       <script type="text/javascript">
        var now = new Date();
        function GetServerTime()
        {
            var urodz = new Date("11/20/2016 00:00:00");//设定倒计时的时间
            now.setTime(now.getTime()+250);
            days = (urodz - now) / 1000 / 60 / 60 / 24;
            daysRound = Math.floor(days);
            hours = (urodz - now) / 1000 / 60 / 60 - (24 * daysRound);
            hoursRound = Math.floor(hours);
            minutes = (urodz - now) / 1000 /60 - (24 * 60 * daysRound) - (60 * hoursRound);
            minutesRound = Math.floor(minutes);
            seconds = (urodz - now) / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
            secondsRound = Math.round(seconds);
            var obj = document.getElementById("pic-one-time-day7");
            daysRound = daysRound;
            if(daysRound >= 0) {
                obj.innerHTML="<p style='font-size:18px;font-weight:normal;width: 50px;margin: 0;'> <span  style='font-size:18px;color:#fff;'>"+daysRound+"</span> 天</p>" ;
                //obj.innerHTML="<p>距开幕式<span>"+daysRound+"</span>天<span>"+hoursRound+"</span>时<span>"+minutesRound+"</span>分<span>"+secondsRound+"</span>秒</p>" ;
            }
        }
        setInterval("GetServerTime()",1000);
        //$(function() {
        GetServerTime()
        //});
    </script></h4>
                   </span>
               </div>
               <div class="pic-one-nav-liji"></div>
               <a href="http://www.ixxss.net/lines/show_186.html" style="text-decoration: none" id="pic-one-nav-liji-0">立即预订</a>
                   <span id="pic-one-nav-price">
                       <b>
                           <i class="currency_sy">￥</i>
                           485555
                       </b>
                       起
                   </span>
           </li>
           <li style="list-style-type: none">
               <div class="pic-one">
                   <a href="http://www.ixxss.net/lines/show_186.html">
                       <img src="http://www.ixxss.net/uploads/2016/0823/c3d51502ffd45e5f0afc05a94eba068b.jpg" alt="2016.10.21-11.6【纳米比亚+津巴布韦】" width="580" height="386">
                   </a>
               </div>
               <div class="pic-one-nav">
                       <span class="pic-one-name">
                       <a href="http://www.ixxss.net/lines/show_186.html" >2016.12.1-12.14【美国】</a>
                   </span>
                   <span class="pic-one-time">离出团仅剩：
                   <h4 id="pic-one-time-day8">
                       <script type="text/javascript">
        var now = new Date();
        function GetServerTime()
        {
            var urodz = new Date("12/1/2016 00:00:00");//设定倒计时的时间
            now.setTime(now.getTime()+250);
            days = (urodz - now) / 1000 / 60 / 60 / 24;
            daysRound = Math.floor(days);
            hours = (urodz - now) / 1000 / 60 / 60 - (24 * daysRound);
            hoursRound = Math.floor(hours);
            minutes = (urodz - now) / 1000 /60 - (24 * 60 * daysRound) - (60 * hoursRound);
            minutesRound = Math.floor(minutes);
            seconds = (urodz - now) / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
            secondsRound = Math.round(seconds);
            var obj = document.getElementById("pic-one-time-day8");
            daysRound = daysRound;
            if(daysRound >= 0) {
                obj.innerHTML="<p style='font-size:18px;font-weight:normal;width: 50px;margin: 0;'> <span  style='font-size:18px;color:#fff;'>"+daysRound+"</span> 天</p>" ;
                //obj.innerHTML="<p>距开幕式<span>"+daysRound+"</span>天<span>"+hoursRound+"</span>时<span>"+minutesRound+"</span>分<span>"+secondsRound+"</span>秒</p>" ;
            }
        }
        setInterval("GetServerTime()",1000);
        //$(function() {
        GetServerTime()
        //});
    </script></h4>
                   </span>
               </div>
               <div class="pic-one-nav-liji"></div>
               <a href="http://www.ixxss.net/lines/show_186.html" style="text-decoration: none" id="pic-one-nav-liji-0">立即预订</a>
                   <span id="pic-one-nav-price">
                       <b>
                           <i class="currency_sy">￥</i>
                           485555
                       </b>
                       起
                   </span>
           </li>
           <li style="list-style-type: none">
               <div class="pic-one">
                   <a href="http://www.ixxss.net/lines/show_186.html">
                       <img src="http://www.ixxss.net/uploads/2016/0826/7cdd34c96a61f6237434be989f49d4f5.JPG" alt="2016.10.21-11.6【纳米比亚+津巴布韦】" width="580" height="386">
                   </a>
               </div>
               <div class="pic-one-nav">
                       <span class="pic-one-name">
                       <a href="http://www.ixxss.net/lines/show_186.html" >2016.12.8-12.16【斯里兰卡】</a>
                   </span>
                   <span class="pic-one-time">离出团仅剩：
                   <h4 id="pic-one-time-day9">
                       <script type="text/javascript">
        var now = new Date();
        function GetServerTime()
        {
            var urodz = new Date("11/12/2016 00:00:00");//设定倒计时的时间
            now.setTime(now.getTime()+250);
            days = (urodz - now) / 1000 / 60 / 60 / 24;
            daysRound = Math.floor(days);
            hours = (urodz - now) / 1000 / 60 / 60 - (24 * daysRound);
            hoursRound = Math.floor(hours);
            minutes = (urodz - now) / 1000 /60 - (24 * 60 * daysRound) - (60 * hoursRound);
            minutesRound = Math.floor(minutes);
            seconds = (urodz - now) / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
            secondsRound = Math.round(seconds);
            var obj = document.getElementById("pic-one-time-day9");
            daysRound = daysRound;
            if(daysRound >= 0) {
                obj.innerHTML="<p style='font-size:18px;font-weight:normal;width: 50px;margin: 0;'> <span  style='font-size:18px;color:#fff;'>"+daysRound+"</span> 天</p>" ;
                //obj.innerHTML="<p>距开幕式<span>"+daysRound+"</span>天<span>"+hoursRound+"</span>时<span>"+minutesRound+"</span>分<span>"+secondsRound+"</span>秒</p>" ;
            }
        }
        setInterval("GetServerTime()",1000);
        //$(function() {
        GetServerTime()
        //});
    </script></h4>
                   </span>
               </div>
               <div class="pic-one-nav-liji"></div>
               <a href="http://www.ixxss.net/lines/show_186.html" style="text-decoration: none" id="pic-one-nav-liji-0">立即预订</a>
                   <span id="pic-one-nav-price">
                       <b>
                           <i class="currency_sy">￥</i>
                           485555
                       </b>
                       起
                   </span>
           </li>
           <li style="list-style-type: none">
               <div class="pic-one">
                   <a href="http://www.ixxss.net/lines/show_186.html">
                       <img src="http://www.ixxss.net/uploads/2016/0829/83daf6a59800dbb9ed60bed716de31ff.jpg" alt="2016.10.21-11.6【纳米比亚+津巴布韦】" width="580" height="386">
                   </a>
               </div>
               <div class="pic-one-nav">
                       <span class="pic-one-name">
                       <a href="http://www.ixxss.net/lines/show_186.html" >2016.12.8-2016.12.19【坦桑尼亚】</a>
                   </span>
                   <span class="pic-one-time">离出团仅剩：
                   <h4 id="pic-one-time-day10">
                       <script type="text/javascript">
        var now = new Date();
        function GetServerTime()
        {
            var urodz = new Date("12/8/2016 00:00:00");//设定倒计时的时间
            now.setTime(now.getTime()+250);
            days = (urodz - now) / 1000 / 60 / 60 / 24;
            daysRound = Math.floor(days);
            hours = (urodz - now) / 1000 / 60 / 60 - (24 * daysRound);
            hoursRound = Math.floor(hours);
            minutes = (urodz - now) / 1000 /60 - (24 * 60 * daysRound) - (60 * hoursRound);
            minutesRound = Math.floor(minutes);
            seconds = (urodz - now) / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
            secondsRound = Math.round(seconds);
            var obj = document.getElementById("pic-one-time-day10");
            daysRound = daysRound;
            if(daysRound >= 0) {
                obj.innerHTML="<p style='font-size:18px;font-weight:normal;width: 50px;margin: 0;'> <span  style='font-size:18px;color:#fff;'>"+daysRound+"</span> 天</p>" ;
                //obj.innerHTML="<p>距开幕式<span>"+daysRound+"</span>天<span>"+hoursRound+"</span>时<span>"+minutesRound+"</span>分<span>"+secondsRound+"</span>秒</p>" ;
            }
        }
        setInterval("GetServerTime()",1000);
        //$(function() {
        GetServerTime()
        //});
    </script></h4>
                   </span>
               </div>
               <div class="pic-one-nav-liji"></div>
               <a href="http://www.ixxss.net/lines/show_186.html" style="text-decoration: none" id="pic-one-nav-liji-0">立即预订</a>
                   <span id="pic-one-nav-price">
                       <b>
                           <i class="currency_sy">￥</i>
                           485555
                       </b>
                       起
                   </span>
           </li>
           <li style="list-style-type: none">
               <div class="pic-one">
                   <a href="http://www.ixxss.net/lines/show_186.html">
                       <img src="http://www.ixxss.net/uploads/2016/0930/93d1fa02876871ea9d4eb26e0f70ec99.jpg" alt="2016.10.21-11.6【纳米比亚+津巴布韦】" width="580" height="386">
                   </a>
               </div>
               <div class="pic-one-nav">
                       <span class="pic-one-name">
                       <a href="http://www.ixxss.net/lines/show_186.html" >2016.12.13-12.27【印度】</a>
                   </span>
                   <span class="pic-one-time">离出团仅剩：
                   <h4 id="pic-one-time-day11">
                       <script type="text/javascript">
        var now = new Date();
        function GetServerTime()
        {
            var urodz = new Date("12/13/2016 00:00:00");//设定倒计时的时间
            now.setTime(now.getTime()+250);
            days = (urodz - now) / 1000 / 60 / 60 / 24;
            daysRound = Math.floor(days);
            hours = (urodz - now) / 1000 / 60 / 60 - (24 * daysRound);
            hoursRound = Math.floor(hours);
            minutes = (urodz - now) / 1000 /60 - (24 * 60 * daysRound) - (60 * hoursRound);
            minutesRound = Math.floor(minutes);
            seconds = (urodz - now) / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
            secondsRound = Math.round(seconds);
            var obj = document.getElementById("pic-one-time-day11");
            daysRound = daysRound;
            if(daysRound >= 0) {
                obj.innerHTML="<p style='font-size:18px;font-weight:normal;width: 50px;margin: 0;'> <span  style='font-size:18px;color:#fff;'>"+daysRound+"</span> 天</p>" ;
                //obj.innerHTML="<p>距开幕式<span>"+daysRound+"</span>天<span>"+hoursRound+"</span>时<span>"+minutesRound+"</span>分<span>"+secondsRound+"</span>秒</p>" ;
            }
        }
        setInterval("GetServerTime()",1000);
        //$(function() {
        GetServerTime()
        //});
    </script></h4>
                   </span>
               </div>
               <div class="pic-one-nav-liji"></div>
               <a href="http://www.ixxss.net/lines/show_186.html" style="text-decoration: none" id="pic-one-nav-liji-0">立即预订</a>
                   <span id="pic-one-nav-price">
                       <b>
                           <i class="currency_sy">￥</i>
                           485555
                       </b>
                       起
                   </span>
           </li>
           <li style="list-style-type: none">
               <div class="pic-one">
                   <a href="http://www.ixxss.net/lines/show_186.html">
                       <img src="http://www.ixxss.net/uploads/2016/0718/134f91d64436edad0ce99f9a1c09d8a7.jpg" alt="2016.10.21-11.6【纳米比亚+津巴布韦】" width="580" height="386">
                   </a>
               </div>
               <div class="pic-one-nav">
                       <span class="pic-one-name">
                       <a href="http://www.ixxss.net/lines/show_186.html" >2016.12.25-2017.1.5【坦桑尼亚】</a>
                   </span>
                   <span class="pic-one-time">离出团仅剩：
                   <h4 id="pic-one-time-day12">
                       <script type="text/javascript">
        var now = new Date();
        function GetServerTime()
        {
            var urodz = new Date("12/25/2016 00:00:00");//设定倒计时的时间
            now.setTime(now.getTime()+250);
            days = (urodz - now) / 1000 / 60 / 60 / 24;
            daysRound = Math.floor(days);
            hours = (urodz - now) / 1000 / 60 / 60 - (24 * daysRound);
            hoursRound = Math.floor(hours);
            minutes = (urodz - now) / 1000 /60 - (24 * 60 * daysRound) - (60 * hoursRound);
            minutesRound = Math.floor(minutes);
            seconds = (urodz - now) / 1000 - (24 * 60 * 60 * daysRound) - (60 * 60 * hoursRound) - (60 * minutesRound);
            secondsRound = Math.round(seconds);
            var obj = document.getElementById("pic-one-time-day12");
            daysRound = daysRound;
            if(daysRound >= 0) {
                obj.innerHTML="<p style='font-size:18px;font-weight:normal;width: 50px;margin: 0;'> <span  style='font-size:18px;color:#fff;'>"+daysRound+"</span> 天</p>" ;
                //obj.innerHTML="<p>距开幕式<span>"+daysRound+"</span>天<span>"+hoursRound+"</span>时<span>"+minutesRound+"</span>分<span>"+secondsRound+"</span>秒</p>" ;
            }
        }
        setInterval("GetServerTime()",1000);
        //$(function() {
        GetServerTime()
        //});
    </script></h4>
                   </span>
               </div>
               <div class="pic-one-nav-liji"></div>
               <a href="http://www.ixxss.net/lines/show_186.html" style="text-decoration: none" id="pic-one-nav-liji-0">立即预订</a>
                   <span id="pic-one-nav-price">
                       <b>
                           <i class="currency_sy">￥</i>
                           485555
                       </b>
                       起
                   </span>
           </li>
       </ul>

       <div class="gophoto-content-pic-123">
           <ul>
               <li style="border: 0"><a href="#" style="background-color: #ff8a00;color: white;border: 1px solid #ff8a00">1</a></li>
               <li href="http://www.ixxss.net/lines/all-0-0-0-0-0-0-2"><a href="http://www.ixxss.net/lines/all-0-0-0-0-0-0-2">2</a></li>
               <li href="http://www.ixxss.net/lines/all-0-0-0-0-0-0-3"><a href="http://www.ixxss.net/lines/all-0-0-0-0-0-0-3">3</a></li>
               <li  ><a href="http://www.ixxss.net/lines/all-0-0-0-0-0-0-3" style="color: #ff8a00;">≥</a></li>
           </ul>
       </div>
   </div>

    <div class="gophoto-content-pic-unlike">
        <p>没有找到喜欢的路线？</p>
        <a target="_blank" href="http://ce.ixxss.net/s/b6rYNj/" title="私人定制">私人定制</a>
    </div>
</div>


</div>
<footer style="background:#212121">
    <div class="footer">
        <div class="st-footer">
            <div class="corey-1200">
                <div class="st-foot-menu">
                    <a href="#" target="_blank" rel="nofollow">关于我们</a>
                    <a href="#" target="_blank" rel="nofollow">联系我们</a>
                    <a href="#" target="_blank" rel="nofollow">常见问题</a>
                    <a href="#" target="_blank" rel="nofollow">合作伙伴</a>
                    <a href="#" target="_blank" rel="nofollow">媒体报道</a>
                    <a href="#" target="_blank" rel="nofollow">行摄学院</a>
                    <a href="#" target="_blank" rel="nofollow">学习摄影</a>
                </div>
                <!--底部导航-->
                <div class="st-foot-edit">
                    <p style="text-align: center">24小时客户服务电话(免长途费)：40066-51731（我要去摄影）</p>
                    <p class="foot-address">
                        &nbsp;行行摄色 &nbsp;备案号：
                        <a href="#" target="_blank" style="color:#fff">粤ICP备11072273</a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        咨询电话：40066-51731（我要去摄影）　传真：0755-82530100　　地址：深圳市罗湖区金湖大厦601　　主办：行行摄色　　
                    </p>
                </div>
            </div>
        </div>


    </div>
</footer>

</body>
<!--悬浮标-->
<!--topBtn-->
<link rel="stylesheet" type="text/css" href="../css/myPop.css" />
<script type="text/javascript" src="../js/myPop.js" ></script>
<script>
    var $LeftNav = lx_pop.createLeftNav();
    var $li = lx_pop.createLi();
    $LeftNav.css("display", "none").appendTo("body");
    $li.css("display", "none").appendTo("body");
    var isTopBtnShow = false;
    window.onscroll = function () {
        var t = document.documentElement.scrollTop || document.body.scrollTop;
        if (t >= 350 && t <=500 &&!isTopBtnShow) {
            $LeftNav.css("display", "block");
            $li.css("display", "none");
            isTopBtnShow = true;
        } else if(t >500 && isTopBtnShow) {
            $LeftNav.css("display", "none");
            $li.css("display", "block");
            isTopBtnShow = false;
        } else if(t < 350 && isTopBtnShow) {
            $LeftNav.css("display", "none");
            $li.css("display", "none");
            isTopBtnShow = false;
        }
    }
</script>
<!-- /topBtn-->
</html>