<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>行行摄色,国外摄影,摄影团，旅游摄影-行行摄色,国外摄影,摄影团，旅游摄影</title>
    <link rel="icon" href="../imgs/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="../css/xsxy.css">
</head>
<body>
<header>

    <div class="topBox w1200">
        <div class="topLeft">
            <div class="logoBox">
                <a href="#">
                    <img src="http://www.ixxss.net/res/img/logo.png" alt="">
                </a>
            </div>
        </div>
        <div class="topRight">
            <div class="topTitle">
                <b>服务电话：40066-51731</b>
                <span id="LandingAndEnroll">
                    <a style="margin-left: 20px; text-decoration: none" href="#">登录</a>
                    <a style="text-decoration: none" href="#">注册</a>
                </span>
            </div>
            <ul>
                <li><a href="#" target="_blank">去摄影</a></li>
                <li><a href="#" target="_blank">找老师</a></li>
                <li><a href="#" target="_blank">看花絮</a></li>
                <li><a href="#" target="_blank" style="color:#ff8a00;font-weight:bold;">行摄学院</a></li>
                <li><a href="#" target="_blank">行摄摄友会</a></li>
                <li><a href="#" target="_blank">关于我们</a></li>
            </ul>
        </div>
    </div>
</header>
<div class="xsxy-top">
<img src="http://www.ixxss.net/usertpl/star/images/head.gif">
</div>
<!--content-->
<div class="xsxy-content">
<div class="xsxy-content-jia">
    <img src="http://www.ixxss.net/usertpl/star/images/mjt.png">
    <h2>为什么要选名家团</h2>
    <p>师者，传道授业解惑也<br>
        跟摄影大师学摄影，就像站在巨人的肩膀上<br>
        他们总结出来的拍摄技巧已不是构图和色彩的简单搭配，<br>
        而是深入到拍摄内容，挖掘场景中最值得记录的闪光之处</p>
</div>
    <h2 class="xsxy-content-color1">行摄学院名家团</h2>
    <div class="xsxy-content-teacher">
        <ul>
            <li>
                <img src="http://www.ixxss.net/usertpl/star/images/chs.jpg" width="200" height="200">
                <h2>摄影导师：蔡焕松</h2>
                <p>中国摄影金像奖获得者、 出版著 作《到访·还乡》、《广东摄影五 十年系列丛书》、《看.真的.印度》</p></li>
            <li>
                <img src="http://www.ixxss.net/usertpl/star/images/wfc.jpg" width="200" height="200">
                <h2>摄影导师：王福春</h2>
                <p>中国摄影金像奖获得者，作品： 《火车上的中国人》、《黑土地》 《东北虎》、《中国蒸汽机车》</p></l
            </li>
            <li>
                <img src="http://www.ixxss.net/usertpl/star/images/zwp.jpg" width="200" height="200">
                <h2>摄影导师：周万萍</h2>
                <p>中国摄影金像奖获得者，作品： 摄影作品集《我的家乡》、 摄影画册《金山岭长城》</p></l
            </li>
        </ul>
    </div>
    <h2 class="xsxy-content-color1">为什么选择行摄学院</h2>
    <div class="xsxy-content-choose">
        <ul>
            <li>
                <p>由著名摄影师亲自带队创作，担任摄影导师,独家授课。可以获得摄影名家签名出版作品集。</p>
                <img src="http://www.ixxss.net/usertpl/star/images/icon1.png">
            </li>
            <li>
                <p>本次行程专为名家团摄影创作而设，线路深入，题材丰富，特别适合摄影创作，一般摄影旅行团难以实现。</p>
                <img src="http://www.ixxss.net/usertpl/star/images/icon2.png">
            </li>
            <li>
                <p>导师承诺，用心服务，专业点评，全心提升学员实战效果，确保指导并协助拍摄30张以上优秀作品。</p>
                <img src="http://www.ixxss.net/usertpl/star/images/icon3.png">
            </li>
            <li>
                <p>名家团创作的优秀作品将有机会在《中国摄影家》杂志刊登。</p>
                <img src="http://www.ixxss.net/usertpl/star/images/icon4.png">
            </li>
            <li>
                <p>本期创作的上佳作品将被选送中国摄影家协会图片社位于《798艺术馆》专区：《798影廊展》，邀请名家评选后进行展览。</p>
                <img src="http://www.ixxss.net/usertpl/star/images/icon5.png">
            </li>
            <li>
                <p>摄影导师亲自辅导，精选优秀作品，推荐国内外参赛投稿。。</p>
                <img src="http://www.ixxss.net/usertpl/star/images/icon6.png">
            </li>
            <li>
                <p>行程中及回程后，举行看片总结会，点评团友作品，团友可网上直播收看。</p>
                <img src="http://www.ixxss.net/usertpl/star/images/icon7.png">
            </li>
            <li>
                <p>名家团会员，免费成为《行摄摄友会》认证会员，享受认证会员的所有福利，学习海量摄影教程，享受强大的行摄摄影老师团队授课。</p>
                <img src="http://www.ixxss.net/usertpl/star/images/icon8.png">
            </li>
        </ul>
    </div>
    <div class="xsxy-content-road">
        <h2 class="xsxy-content-color1">名家出团线路</h2>
        <ul>
            <li>
                <a href="http://www.ixxss.net/lines/show_220.html" target="_blank">
                    <img src="http://www.ixxss.net/uploads/2016/1014/efc41200e6105144c59729e0dbbebb02.jpg">
                </a>
                <h4>
                    <a href="http://www.ixxss.net/lines/show_220.html" target="_blank" style="text-decoration: none">
                    2016.11.26-11.30【长城】摄影团——5天4晚，摄影名家带队，带你深度创作！</a>
                </h4>
            </li>
            <li>
                <a href="http://www.ixxss.net/lines/show_210.html" target="_blank">
                    <img src="http://www.ixxss.net/uploads/2016/0930/93d1fa02876871ea9d4eb26e0f70ec99.jpg">
                </a>
                <h4>
                    <a href="http://www.ixxss.net/lines/show_210.html" target="_blank" style="text-decoration: none">
                        2016.11.26-11.30【长城】摄影团——5天4晚，摄影名家带队，带你深度创作！</a>
                </h4>
            </li>
        </ul>
    </div>
    <p id="xsxy-content-cehua">
        <img src="http://www.ixxss.net/usertpl/star/images/lc.png">
    </p>
    <div class="xsxy-content-huo">
        <h2 class="xsxy-content-color2">你可以获得什么</h2>
        <div class="xsxy-content-huo-1">
         <div class="xsxy-content-huo-1-1">
             <h2 class="mb20-color1">1.名家亲自为你做好出行准备</h2>
             <p class="xsxy-content-ziti">摄影名家将在出行前，讲解作品案例，及各摄影点如何创作，让你在出行前，
                 既可学习摄影名家创作手法，也可了解各摄影点大致的创作思路，为你在出行当中的创作提供思路来源。</p>
         </div>
        </div>
        <div class="xsxy-content-huo-2">
            <div class="xsxy-content-huo-1-1">
                <h2 class="mb20-color1">2.与摄影名师同行，享经典摄影线路</h2>
                <p class="xsxy-content-ziti">与名师共同出行，前往精心策划的名师摄影线路，
                    于普通线路，名师团将多出更多摄影拍摄点，创作出比普通摄影团更多优秀的作品。</p>
            </div>
            <div class="xsxy-content-huo-1-2">
                <h2 class="mb20-color2">3.摄影名师手把手指导</h2>
                <p class="xsxy-content-ziti">摄影名师在学员的创作过程中，
                    指导你在实际情况中的创作（协助你创作至少30张优秀作品）。</p>
            </div>
        </div>
        <div class="xsxy-content-huo-3">
            <div class="xsxy-content-huo-1-1">
                <h2 class="mb20-color1">4.优秀作品名家亲自点评</h2>
                <p class="xsxy-content-ziti">名家团学员创作的优秀作品，摄影名家会作为案例在出行后，进行作品点评。</p>
            </div>
            <div class="xsxy-content-huo-1-3">
                <h2 class="mb20-color1">5.展览+参赛+刊登</h2>
                <p class="xsxy-content-ziti">你在本次行程中创作的上佳作品可送至中国摄影家协会直属单位《798影廊展》，邀请名家评选后进行展览。以及由名家挑选的作品，
                    推荐至国外参赛，并将一些优秀作品刊登在《中国摄影家杂志》，从创作到参赛投稿刊登，我们一步为你搞定。</p>
            </div>
            <div class="xsxy-content-huo-1-4">
                <h2 class="mb20-color1">6.作品画册：会员作品创作集画册制作；</h2>
                <p class="xsxy-content-ziti">行摄官网专区展览策划，作品网络展示。</p>
            </div>
            <div class="xsxy-content-huo-1-5">
                <h2 class="mb20-color1">7.为你规划专属摄影生涯道路</h2>
                <p class="xsxy-content-ziti">参与本次名家团，摄影名家根据你的自身特点，为你亲自规划专属你的摄影生涯发展道路。</p>
            </div>


        </div>
    </div>
    <div class="xsxy-content-last">
        <div class="xsxy-content-road" style="background: none">
            <h2 class="xsxy-content-color1">更多线路</h2>
            <ul>
                <li>
                    <a href="http://www.ixxss.net/lines/show_220.html" target="_blank">
                        <img src="http://www.ixxss.net/uploads/2016/1014/efc41200e6105144c59729e0dbbebb02.jpg">
                    </a>
                    <h4>
                        <a href="http://www.ixxss.net/lines/show_220.html" target="_blank" style="text-decoration: none">
                            2016.11.26-11.30【长城】摄影团——5天4晚，摄影名家带队，带你深度创作！</a>
                    </h4>
                </li>
                <li>
                    <a href="http://www.ixxss.net/lines/show_210.html" target="_blank">
                        <img src="http://www.ixxss.net/uploads/2016/0930/93d1fa02876871ea9d4eb26e0f70ec99.jpg">
                    </a>
                    <h4>
                        <a href="http://www.ixxss.net/lines/show_210.html" target="_blank" style="text-decoration: none">
                            2016.11.26-11.30【长城】摄影团——5天4晚，摄影名家带队，带你深度创作！</a>
                    </h4>
                </li>
            </ul>
            <a href="http://ce.ixxss.net/s/BNjmAnO/" id="xsxy-content-road-a">立即参与</a>
        </div>
    </div>
</div>
</body>
</html>